// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4876BD;

// ----------------------------------------------------------------------------
// Widget-pricing styles
// ----------------------------------------------------------------------------
.widget-pricing {

	background-color: $background-color;
  	vertical-align: top;

	h1 {
		margin: 0px;
		margin-bottom: 4px;
	}

	.status {
		margin: 10px;
	}

	.status > li.title {
		padding-left: 42%;
		background: none;
		border: none;
		height: 24px;
		> div {
			float: left;
			text-align: left;
			position: relative;
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
		}
	}
	.status > li.data {
		box-sizing: border-box;
		background: gray;
		color: #EEE;
		text-shadow: 2px 2px #333;
		display: block;
		position: relative;
		width: 100%;
		height: 40px;
		margin-bottom: 4px;
		border: 5px outset rgba(255,255,255,0.3);
		padding-left: 2%;
		> div {
			float: left;
			text-align: left;
			display: inline-block;
			position:relative
		}
	}
}
