MIXPANEL_APIKEY=
MIXPANEL_SECRETKEY=
AWS_ACCESS_KEY_ID=
AWS_SECRECT_ACCESS_KEY=
GOOGLE_SERVICE_ACCOUNT_EMAIL=646599104855-oparme353afi0rp3mluuls1f7q220nrc@developer.gserviceaccount.com
GOOGLE_SERVICE_KEY_SECRET=notasecret
GOOGLE_SERVICE_PK_FILE=/Users/user/Documents/pk.p12
ATTENDEE_CALENDAR=juan.ignacio@platan.us
ATTENDEE_EVENT=10barf9g0og4tpavr89sefjqvs
DEFAULT_GRAVATAR=http://platdash.pow/assets_dev/mono.png
ORGAS=platanus
REPOS=
TEAMS=
REPOS_TYPE=public
REPOS_EXCLUDE=platanus/our-boxen
MEMBERS_FROM_TEAM=platanus/developers
GITHUB_LOGIN=blackjid
GITHUB_OAUTH_TOKEN=
WORLDCUP_CALENDAR=cdalevqtm90rcd5bj645rqbmdegi2jgf@import.calendar.google.com
WORLDCUP_MY_TEAM=Chile
