/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
.widget-server-status {
  background-color: #12b0c5;
  vertical-align: top; }
  .widget-server-status .title {
    color: rgba(255, 255, 255, 0.7); }
  .widget-server-status ol, .widget-server-status ul {
    margin: 0 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7); }
  .widget-server-status ol {
    list-style-position: inside; }
  .widget-server-status li {
    margin-bottom: 5px; }
  .widget-server-status .list-nostyle {
    list-style: none; }
  .widget-server-status .label {
    color: rgba(255, 255, 255, 0.7); }
  .widget-server-status .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: white; }
  .widget-server-status .updated-at {
    color: rgba(0, 0, 0, 0.3); }
  .widget-server-status .more-info {
    color: rgba(255, 255, 255, 0.7); }
  .widget-server-status .red {
    color: red; }
  .widget-server-status .green {
    color: green; }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */

