// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #C2C27C;

// ----------------------------------------------------------------------------
// Widget-bitcoin styles
// ----------------------------------------------------------------------------
.widget-bitcoin {
   background-color: $background-color;
}

.red {
  color: rgba(223, 101, 54, 0.53);
}
 
.green {
  color: rgba(77, 158, 51, 0.53);
}