// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------

.widget-server-status {
  background-color: $background-color;
  vertical-align: top;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex !important;
  flex-flow: column;
  * {
    box-sizing: border-box;
  }
  .title {
    color: $title-color;
    flex-shrink: 0;
  }
  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

  .red {
    background-color: red;
  }

  .yellow {
    background-color: orange;
  }

  .green {
    background-color: green;
  }
}

.apps {
  display: flex;
  flex-flow: column wrap;
}
.app {
  background: transparentize(darken($background-color, 10), 0.5);
  margin: 0 5px 5px;
  width: calc(20% - 10px);
}
.app__name {
  text-align: left;
  padding: 4px;
  background-color: rgba(0,0,0,.4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.is-down {
    background-color: rgba(red,0.8);
  }
}
.servers {
  padding: 6px;
}
.server {
  text-align: left;
  font-size: 0.7em;
}
.server__name {
  display: inline-block;
  font-weight: 600;
  font-size: 1em;
  margin-right: 10px;
  width: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}
.processes {
  display: flex;
  flex-flow: row wrap;
}
.processes__process {
  height: 15px;
  flex: 0 0 15px;
  border: 1px solid #fff;
}