// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #EEC647;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-attendees {

  background-color: $background-color;
  vertical-align: top;
  padding: 15px 12px 40px 12px !important;

  .title {
    color: $title-color;
    display: inline-block;

    .counter{
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: #F14D00;
      border-radius: 20px;
      font-size: 23px;
      font-weight: bold;
    }
  }

  .value {
    font-weight: 600;
    color: $value-color;
  }

  ol {
    list-style-position: inside;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

  .attendee {
    float: left;
    margin: 4px;
    position: relative;

    .counter{
      position: absolute;
      width: 22px;
      height: 22px;
      z-index: 10;
      top: -4px;
      right: -4px;
      line-height: 22px;
      background: #F14D00;
      border-radius: 11px;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
