<% content_for :title do %>
  Platanus Dashboard
<% end %>

<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [310, 162]
  Dashing.numColumns = 6
});
</script>

<div id="container">
  <div class="header">
    <div class="platanus gs_w" data-row="1" data-col="1" data-sizex="6">
      <span class="header-logo">
        <img src="/assets/logo_main.svg" height="36px"/>
        <span class="header-text">platanus</span>
      </span>
      <span data-id="clock"
            data-view="clock_header"></span>
      <span data-id="santander-balance"
            data-view="number_header"
            data-title="Caja Chica"
            data-prefix="$"></span>
      <span data-id="bitcoin"
            data-view="number_header"
            data-prefix="$"
            data-title="Bitcoin"></span>
      <span data-id="ec2-aws-reserved"
             data-view="AwsReserved"
             data-title="AWS"></span>
      <span data-id="billing-aws-estimatedcharges"
             data-view="number_header"
             data-title="AWS Charges"
             data-prefix="$"></span>
    </div>
  </div>

  <div class="gridster">
    <ul>

      <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
        <div data-id="attendees"
             data-view="Attendees"
             data-today-message="Almuerzo de hoy"
             data-tomorrow-message="Almuerzo de mañana"
             data-no-event-message="No hay almuerzo"
             data-updatedAtMessage="Actualizado"></div>
        <i class="fa fa-cutlery icon-background"></i>
      </li>

      <li data-row="3" data-col="1" data-sizex="1" data-sizey="3">
        <div data-id="occupation"
             data-view="Occupation"
             data-title="Planificación"
             style="background-color:#226699;"></div>
        <i class="fa fa-calendar icon-background"></i>
      </li>

      <li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
        <div data-id="madbill"
             data-view="Madbill"
             ></div>
        <i class="madbill-logo icon-background"></i>
      </li>

      <li data-row="1" data-col="3" data-sizex="1" data-sizey="3">
        <div data-id="iconstruye"
             data-view="Iconstruye"></div>
        <i class="fa fa-laptop icon-background"></i>
      </li>

      <li data-row="4" data-col="3" data-sizex="1" data-sizey="2">
        <div data-id="restmod"
             data-view="GithubRepo"
             data-title="Restmod"
             style="background-color:#CA8D40;"></div>
        <i class="fa fa-github icon-background"></i>
      </li>
    </ul>
  </div>
</div>

