<% content_for :title do %>
  Platanus Dashboard
<% end %>

<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [310, 162]
  Dashing.numColumns = 6
});
</script>

<div id="container">
  <div class="header">
    <div class="platanus gs_w" data-row="1" data-col="1" data-sizex="4">
      <span class="header-logo">
        <img src="/assets/logo_main.svg" height="36px"/>
        <span class="header-text">platanus</span>
      </span>
      <span data-id="santander-balance"
            data-view="number_header"
            data-title="Caja Chica"
            data-prefix="$"></span>
      <span data-id="bitcoin"
            data-view="number_header"
            data-prefix="$"
            data-title="Bitcoin"></span>
      <span data-id="ec2-aws-reserved"
             data-view="AwsReserved"
             data-title="AWS"></span>
      <span data-id="billing-aws-estimatedcharges"
             data-view="number_header"
             data-title="AWS Charges"
             data-prefix="$"></span>
    </div>
    <div class="platanus gs_w" data-row="1" data-col="5" data-sizex="2">
      <span class="header-logo">
        <span class="header-text">
          <i class="fa fa-github"></i> open banana
        </span>
      </span>
    </div>
  </div>

  <div class="gridster">
    <ul>

      <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
        <div data-id="attendees"
             data-view="Attendees"
             data-today-message="Almuerzo de hoy"
             data-tomorrow-message="Almuerzo de mañana"
             data-no-event-message="No hay almuerzo"
             data-updatedAtMessage="Actualizado"></div>
        <i class="fa fa-cutlery icon-background"></i>
      </li>

      <li data-row="3" data-col="1" data-sizex="1" data-sizey="3">
        <div data-id="occupation"
             data-view="Occupation"
             data-title="Planificación"
             style="background-color:#226699;"></div>
        <i class="fa fa-calendar icon-background"></i>
      </li>

      <li data-row="4" data-col="2" data-sizex="1" data-sizey="2">
        <div data-id="pricing"
             data-view="Pricing"></div>
        <i class="fa fa-laptop icon-background"></i>
      </li>

      <li data-row="1" data-col="4" data-sizex="1" data-sizey="3">
        <div data-id="iconstruye"
             data-view="Iconstruye"></div>
        <i class="fa fa-laptop icon-background"></i>
      </li>

      <li data-row="1" data-col="2" data-sizex="1" data-sizey="3">
        <div data-id="server_status"
             data-view="server_status"
             data-title="200 OK"></div>
        <i class="fa fa-laptop icon-background"></i>
      </li>

      <li data-row="6" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="ec2-aws-cpu"
             data-view="Rickshawgraph"
             data-title="EC2 CPU Usage"
             data-moreinfo=""
             style="background-color:#333A52;"
             data-renderer="line"
             data-min="0"
             data-max="100"
             data-summary-method="none"
             data-legend="true"
             data-color-scheme="rainbow"></div>
      </li>

      <li data-row="6" data-col="3" data-sizex="2" data-sizey="1">
        <div data-id="ec2-aws-mem"
             data-view="Rickshawgraph"
             data-title="EC2 Memory Usage"
             data-moreinfo=""
             style="background-color:#333A52;"
             data-renderer="line"
             data-min="0"
             data-max="100"
             data-summary-method="none"
             data-legend="true"
             data-color-scheme="rainbow"></div>
      </li>

      <!-- OPEN BANANA -->
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="3">
        <div data-id="leaderboard_actors"
             data-view="Leaderboard"
             data-unordered="true"
             data-title="Contributors"
             style="background-color:#525252;"></div>
        <i class="fa fa-github icon-background"></i>
      </li>

      <li data-row="1" data-col="6" data-sizex="1" data-sizey="3">
        <div data-id="leaderboard_repos"
             data-view="Leaderboard"
             data-unordered="true"
             data-title="Repositories"
             style="background-color:#525252;"></div>
        <i class="fa fa-github icon-background"></i>
      </li>

      <li data-row="5" data-col="5" data-sizex="2" data-sizey="1">
        <div data-id="rds-aws-cpu"
             data-view="Rickshawgraph"
             data-title="RDS CPU Usage"
             data-moreinfo=""
             style="background-color:#3D7C7C;"
             data-renderer="line"
             data-min="0"
             data-max="100"
             data-summary-method="none"
             data-legend="true"
             data-color-scheme="rainbow"></div>
      </li>

      <li data-row="6" data-col="5" data-sizex="2" data-sizey="1">
        <div data-id="ec2-aws-hdd"
             data-view="Rickshawgraph"
             data-title="EC2 HDD Usage"
             data-moreinfo=""
             style="background-color:#333A52;"
             data-renderer="line"
             data-min="0"
             data-max="100"
             data-summary-method="none"
             data-legend="true"
             data-color-scheme="rainbow"></div>
      </li>
    </ul>
  </div>
</div>

