<% content_for :title do %>
  Quehambre Dashboard
<% end %>

<% content_for :body_class do %>quehambre<% end %>

<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [470, 248]
  Dashing.numColumns = 4
});
</script>

<div id="container">
  <div class="header">
    <div class="quehambre gs_w" data-row="1" data-col="1" data-sizex="4">
      <span class="header-logo">
        <img src="/assets/logo_qh.svg" height="36px"/>
      </span>
    </div>
  </div>
  <div class="gridster">
    <ul>

      <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
        <div data-id="qh_orders"
             data-view="Meter"
             data-title="Pedidos"
             data-min="0"
             data-max="200"
             data-moreinfo="Pedidos del día."></div>
      </li>

      <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
        <div data-id="online_restos"
             data-view="Number"
             data-title="Restaurantes Online"
             style="background-color:#eec647;"
             data-moreinfo="Restaurantes con pedido online"></div>
        <i class="fa fa-search icon-background"></i>
      </li>

      <li data-row="1" data-col="3" data-sizex="1" data-sizey="4">
        <div data-id="debtor_restos"
             data-view="DebtorRestos"
             data-title="Deudores"
             style="background-color:#226699;"
             data-moreinfo="Deudores del día."></div>
        <i class="fa fa-money icon-background"></i>
      </li>

      <li data-row="1" data-col="4" data-sizex="1" data-sizey="4">
        <div data-id="waiting_restos"
             data-view="WaitingRestos"
             data-title="Menú en espera"
             style="background-color:#F86E39;"></div>
        <i class="fa fa-clock-o icon-background"></i>
      </li>

      <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
        <div data-id="qh_visits"
             data-view="Number"
             data-title="Búsquedas"
             style="background-color:#ba0000;"
             data-moreinfo="Búsquedas del día."></div>
        <i class="fa fa-search icon-background"></i>
      </li>
    </ul>
  </div>
</div>

