<% content_for :title do %>
  My super sweet dashboard
<% end %>

<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  // Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [310, 334]
  Dashing.numColumns = 6
});
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Bienvenido al Dashboard de Platanus" data-text="Aquí van a aparecer números que nos interesan a todos." data-moreinfo="Tip: Los cuadrados se pueden arrastrar!"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="pricing" data-view="Pricing"></div>
      <i class="fa fa-laptop icon-background"></i>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="iconstruye" data-view="Iconstruye"></div>
      <i class="fa fa-laptop icon-background"></i>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="attendees"
           data-view="Attendees"
           data-today-message="Almuerzo de hoy"
           data-tomorrow-message="Almuerzo de mañana"
           data-no-event-message="No hay almuerzo"
           data-updatedAtMessage="Actualizado"></div>
         <i class="fa fa-cutlery icon-background"></i>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="qh_orders" data-view="Meter" data-title="Pedidos" data-min="0" data-max="200" data-moreinfo="Pedidos del día."></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="qh_visits"
           data-view="Number"
           data-title="Búsquedas"
           style="background-color:#ba0000;"
           data-moreinfo="Búsquedas del día."></div>
      <i class="fa fa-search icon-background"></i>
   </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="server_status" data-view="server_status" data-title="200 OK"></div>
      <i class="fa fa-laptop icon-background"></i>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="bitcoin"
           data-view="Bitcoin"
           data-title="Bitcoin"
           data-moreinfo="Precio en dólares."
           data-updatedAtMessage="Actualizado"></div>
      <i class="fa fa-bitcoin icon-background"></i>
   </li>
    <!-- Get the Rickshawgraph widget from https://gist.github.com/jwalton/6614023 -->
    <li data-row="3" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="aws-cpu" data-view="Rickshawgraph" data-title="CPU Usage"
        data-moreinfo=""
        style="background-color:#333A52;"
        data-renderer="line"
        data-min="0"
        data-max="100"
        data-summary-method="none"
        data-legend="true"
        data-color-scheme="rainbow"
      ></div>
    </li>
<!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li> -->

<!--     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li> -->
  </ul>
</div>
