// ----------------------------------------------------------------------------
// Widget-bitcoin styles
// ----------------------------------------------------------------------------
.widget-aws-reserved{
    ul{
        display: inline;
    }
    li {
        display: inline;
    }
    .family{
        font-size: 0.8em;
    }
    .value{
        font-weight: bold;
    }
    .fa.fa-warning{
        color: red;
    }

}

