.widget-worldcup {
    .team-name{
        font-size: 14px;
    }

    .team-col{
        vertical-align:top;
        line-height:16px;
        width: 43%;
        padding: 4px 0;
    }

    .vs-col{
        text-align:center;
        vertical-align:center;
        width: 14%;
    }

    .col-base{
        text-align: left;
    }

    .flag-col{
        width: 25%;
        text-align: right;
        padding-right: 5px;
    }

    .name-col{
        width: 14%;
    }

    .left-team{
        text-align:right;
    }

    .right-team{
        text-align:left;
    }

    .next-time{
        margin-top:-10px;
    }

    .my-team-header{
        margin-top: 10px;
    }
}
