.widget-worldcup {
    .team-name{
        font-size: 14px;
    }

    .team-col{
        vertical-align:top;
        line-height:16px;
        width: 43%;
        padding: 4px 0;
    }

    .vs-col{
        text-align:center;
        vertical-align:center;
        width: 14%;
    }

    .left-team{
        text-align:right;
    }

    .right-team{
        text-align:left;
    }
}
